{% extends 'base.html.twig' %}

{% block contenu %}
    <div>
        {% form_theme monFormulaire 'foundation_5_layout.html.twig' %}
        {{ form_start(monFormulaire) }}
        {{ form_widget(monFormulaire) }}
        <button>Envoyer</button>
        {{ form_end(monFormulaire) }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

