<nav>
    <ul>
        <li>
            <a href="{{ url('main_accueil') }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('film_index') }}">Index des films</a>
        </li>
        <li>
            <a href="{{ path('film_liste') }}">Liste des films</a>
        </li>
    </ul>
</nav>